* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'SourceSansPro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdf5ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('./fonts/SourceSansPro-Regular.ttf');
}